.PrimaryButton{
    border: 1px solid #FC5E64;
    border-radius: 4px;
    color: #FC5E64;
    padding: 8px 16px;
    background-color: transparent;
}


.SecondaryButton{
    background: #FC5E64;
    border: 1px solid #FC5E64;
    border-radius: 4px;
    color: #000000;
    padding: 8px 16px;
}

.DropdownSection
{
    border-radius: 5px;
    border: 0.5px solid rgba(255, 255, 255, 0.35);
    background: #0B121C;
    color: #C3C9D0;
}

