.Header__Section {
  display: grid;
  grid-template-areas:
    "grid-area-heading grid-area-createSection "
    "grid-area-searchSection grid-area-searchSection";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr max-content;
  row-gap: 25px;
}

.Header {
  &__Heading {
    grid-area: grid-area-heading;
  }

  &__SearchSection {
    grid-area: grid-area-searchSection;
  }

  &__CreateSection {
    grid-area: grid-area-createSection;
  }

  &__Search {
    max-width: 233px;
  }
}

.HomePage {
  padding: 20px;
}

.Card {
  &__ButtonSection {
    flex-direction: column;
  }

  &__Section {
    flex-direction: column;
    width: -webkit-fill-available;
  }

  &__ImageSide {
    & img {
      width: 100%;
    }
  }

  &__InputSection {
    & input {
      width: 100%;
    }
  }

  &__PreviewButton,
  &__SendButton {
    width: 100%;
  }
}
